@{
	@using proyectonet.Models;
	@using MySql.Data.MySqlClient;

    List<Producto> lista = new List<Producto>();
    GestionProductos _ctrlProductos = new GestionProductos();

	MySqlConnection conexionDB = Conexion.Connexion();
	String sql = "SELECT * FROM productos";
	MySqlCommand cmd = new(sql, conexionDB);
	conexionDB.Open();
}
<!doctype html>
<html lang="en">
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/static/css/user-form.css" th:href="~/static/css/user-form.css">
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  </head>
  <body>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4>Productos</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="userList" class="table table-bordered table-hover table-striped">
									<thead class="thead-light">
										<tr>
											<th>id</th>
											<th>Nombre de Producto</th>
											<th>descripcion</th>
											<th>precio</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										@{
											Producto row = null;
											MySqlDataReader dr = cmd.ExecuteReader();
											while (dr.Read())
											{
												row = new Producto();

															<tr>
																<th>@{
															row.Id = int.Parse(dr["id"].ToString());
																	}
																@row.Id
																</th>
																<th>@{
															row.Nombre = dr["nombre"].ToString();
																	}
																@row.Nombre
																</th>
																<th>@{
															row.Descripcion = dr["descripcion"].ToString();
																	}
																@row.Descripcion
																</th>
															<th>$@{
															row.Precio = int.Parse(dr["precio"].ToString());
															  	}
																@row.Precio
															</th>

														 	<td>
															<a href="~/Crud/Borrar/@row.Id"><i class="fas fa-user-times"></i></a>
															</td>
															</tr>
											}
										}

										</tbody>
									</table>
								</div>
							</div>
						</div>
					<div class="container">
					<div id="form">
						<div class="card">
							<div class="card-header">
								<h4>ingrese datos:</h4>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off" action="/Crud/ingresar" method="POST">
									<div class="form-group row text-center">
										<label class="col-lg-4 col-form-label form-control-label">Serial producto:</label>
										<div class="col-lg-6 text-center">
											<input class="form-control" type="text" required name="cod">
										</div>
									</div>
									<div class="form-group row text-center">
										<label class="col-lg-4 col-form-label form-control-label">nombre :</label>
										<div class="col-lg-6 text-center">
											<input class="form-control" type="text" name="nombre">
										</div>
									</div>
									<div class="form-group row text-center">
										<label class="col-lg-4 col-form-label form-control-label">descripcion:</label>
										<div class="col-lg-6 text-center">
											<textarea name="descrip" class="form-control"></textarea>
										</div>
									</div>
									<div class="form-group row text-center">
										<label class="col-lg-4 col-form-label form-control-label">precio:</label>
										<div class="col-lg-6 text-center">
											<input class="form-control" type="text" name="precio">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-lg-12 text-center">
											<input type="reset" class="btn btn-secondary" value="Cancelar">
											<input type="submit" class="btn btn-primary" value="Enviar">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					</div>
					</div>



   </body>
</html>


