@{
	@using proyectonet.Models;
	@using MySql.Data.MySqlClient;

    List<Producto> lista = new List<Producto>();
    ctrlProductos _ctrlProductos = new ctrlProductos();

	MySqlConnection conexionDB = Conexion.Connexion();
	String sql = "SELECT * FROM productos";
	MySqlCommand cmd = new(sql, conexionDB);
	conexionDB.Open();
}
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>
  <body>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4>Lista</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="userList" class="table table-bordered table-hover table-striped">
									<thead class="thead-light">
										<tr>
											<th>#</th>
											<th>nombre de semilla</th>
											<th>descripcion</th>
											<th>precio</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										@{
											Producto row = null;
											MySqlDataReader dr = cmd.ExecuteReader();
											while (dr.Read())
											{
												row = new Producto();

														<tr>
															<th>@{
															row.Id = int.Parse(dr["id"].ToString());
																}
															@row.Id
															</th>
															<th>@{
															row.Nombre = dr["nombre"].ToString();
																}
															@row.Nombre
															</th>
															<th>@{
															row.Descripcion = dr["descripcion"].ToString();
																}
															@row.Descripcion
															</th>
														<th>$@{
															row.Precio = int.Parse(dr["precio"].ToString());
															  }
															@row.Precio
														</th>
																</tr>
											}
										}
											
											
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

   </body>
</html>
