@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>
  <body>

  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
        <div class="card">
          <div class="card-header">
           Editar datos:
          </div>
          <form  class="p-4" method="" action="">
            <div class="mb-3">
              <label for="" class="for">nombre:</label>
              <input type="text" class="form-control" name="txtUsuario" autofocus required value="">
            </div>
            <div class="mb-3">
              <label for="" class="for">descripcion:</label>
              <input type="text" class="form-control" name="txtContraseña" autofocus required value="">
            </div>
            <div class="mb-3">
              <label for="" class="for">precio</label>
              <input type="text" class="form-control" name="txtCorreo" autofocus required value="">
            </div>
            <div class="d-grid">
              <input type="submit" class="btn btn-primary" value="Editar">
            </div>

          </form>
        </div>
        </div>
    </div>
</div>
  </body>
</html>
}
